<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAP" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://iec.ch/61968/" binding="basicHttpBinding"
                bindingConfiguration="SOAP" contract="IsotrolServiceReference.Operations"
                name="SOAP" />
        </client>
    </system.serviceModel>
</configuration>