.divTable {
    font-size:0.8rem;
    display: table;
    width: auto;
    /*background-color: #eee;
    border: 1px solid #666666;*/
    border-spacing: 5px; /*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}

th {
    font-weight: bold;
    color: black;
    background-color: #ff00ff;
    font-size: 0.6rem;
    white-space: nowrap;
    border: 1px solid black;
}